.app {
    padding: 10px;
}

.game-container {
}

.game-container canvas {
}
.game-hud {
}

.top-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}